hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #010983;
  height: 2px;
}

.button_border {
  color: black;
  background: #cacde0;
  font-size: 15px;
  border: 0.5px solid #030303; /* Green */
}
