<div class="photo-background" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

  <div class="container"
       fxLayout="column"
       fxLayoutGap="10px"
       fxLayoutAlign.gt-md="space-around center">
    <div fxFlex="40" fxLayoutGap="10px">
      <mat-card class="main-div">
        <h1 class="text_black">Welcome to Feature Selection Tool!</h1>
        <img mat-card-image src="assets/img/logo_agh.svg" alt="assets/img/agh_znk_pzt_rgb_150ppi.tif">
        <mat-card-content>
          <h2 class="text_black">Authors: Przemysław Jabłecki, Filip Ślazyk</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
