<mat-toolbar fxFlex color="primary">
    <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
    <i class="fas fa-home"></i>
    <a mat-button routerLink='home' routerLinkActive='active' class="margin_class" appHighlight> Home </a>
    <a mat-button routerLink='main' routerLinkActive='active' class="margin_class" appHighlight> Main </a>
    <a mat-button routerLink='models' routerLinkActive='active' class="margin_class" appHighlight> Models </a>
    <a mat-button routerLink='jobs' routerLinkActive='active' class="margin_class" appHighlight> Jobs </a>
    <a mat-button routerLink='hpc-settings' routerLinkActive='active' class="margin_class" appHighlight> HPC Settings </a>
    <a mat-button routerLink='algo-settings' routerLinkActive='active' class="margin_class" appHighlight> Algorithms Settings </a>
</mat-toolbar>
