<div class="container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign.gt-md="space-around center">
  <div fxFlex="40">
    <mat-card>
      <div fxFlex fxFlexOffset="20px" class="form-size">
        <h2>Select parameters of feature selection and data classification</h2>
        <!--        <p>{{ paramsForm.value | json }} {{ paramsForm.status | json }}</p>-->

        <form novalidate [formGroup]="paramsForm" (ngSubmit)="onSubmit()">
          <p>
            Algorithm
            <mat-select placeholder="Feature selection algorithm" formControlName="algoType">
              <mat-option *ngFor="let algotype of algoType" [value]="algotype">
                {{ algotype }}
              </mat-option>
            </mat-select>
          </p>
          <h3>Select classifiers to be compared</h3>
          <p>
            <mat-slide-toggle formControlName="rf">Random Forest</mat-slide-toggle>
          </p>
          <p>
            <mat-slide-toggle formControlName="svm">Support Vector Machine</mat-slide-toggle>
          </p>
          <p>
            <mat-slide-toggle formControlName="nn">Neural Network</mat-slide-toggle>
          </p>

          <mat-form-field>
            <mat-label> <b>Target name</b></mat-label>
            <input formControlName="target" matInput>
          </mat-form-field>

          <h3>HPC Mode</h3>
          <p>
            <mat-slide-toggle formControlName="hpc">Use HPC cluster</mat-slide-toggle>
          </p>

          <h3>Select CSV file</h3>
          <p>
            <input formControlName="csvPath" type="file" (change)="changeListener($event)">
          </p>

          <div fxLayoutAlign="center">
            <button type="submit" mat-button class="hello-primary" [disabled]="paramsForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
