.mat-row {
  height: auto;
}

.mat-cell {
  padding: 15px 40px 15px 0px;
}

.finished {
    background-color: #82ff82;
}

.queued {
    background-color: #a7f2ff;
}

.running {
    background-color: #ffffa7;
}

.error {
    background-color: #fbd1d1;
}
